#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Compiler {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-top: 50px; /* Space for navbar */
}

.Container {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 50px); /* Full height minus navbar */
  width: 80vw;;
}

.Editor {
  height: 70%; /* Top 40% for editor */
  border-bottom: 2px solid #ccc; /* Separator */
}

.OutputContainer {
  display: flex;
  flex-direction: column;
  height: 30%;
  padding: 10px;
  gap: 10px; /* Space between button and output box */
}

.RunButton {
  padding: 10px 20px;
  background-color: #ff8c1a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.RunButton:hover {
  background-color: #ff6f00;
}

.Output {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.text-content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between; /* Space out buttons */
  align-items: center;
  position: fixed;
  bottom: 20px; /* Fix at the bottom */
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #f5f5f5;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.ButtonContainer button {
  padding: 10px 20px;
  background-color: #ff6f00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.ButtonContainer button:hover {
  background-color: #ff8c1a;
}

.Toolbar {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.LoadButton {
  padding: 8px 16px;
  background-color: #ff6f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}