* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.TBM {
  height: 100vh;
  border:solid rgb(255, 180, 5);
}

.TBM-header {
  border-bottom: solid rgb(255, 180, 5);
  padding: 20px 20px;
  margin: 0;
  color: rgb(5, 80, 180);
  font-size: 1.5rem;
}


.CS162-header {
  width: 100%;
  position: fixed;
  top: 100px;
  color: rgb(5, 80, 180);
  font-size: 2rem;
  text-align: center;
}

.sub-nav {
  width: 100%;
  position: fixed;
  top: 200px; /* Adjust based on header height */
  left: 100px;
  display: flex;
}

.sub-nav li {
  display: flex;
  margin: 15px 0; /* Vertical spacing */
}

.list-item {
  width:100%;
  display: flex;
  justify-content: flex-end; 
}

.button-group {
  display: flex; 
  gap: 5px; 
}

.list-button {
  padding: 5px 10px;
  background-color: white; 
  border: solid;
  border-color: rgb(255, 180, 5);
  color: white; 
  border-radius: 5px;
  cursor: pointer; 
}

.list-button:hover {
  background-color: rgb(255, 180, 5); 
  color: rgb(255, 180, 5)
}
